<figure class="wrap pullquote">
  <div class="pullquote__mark" aria-hidden="true">
    {% include "svg/quote-mark.njk" %}
  </div>
  <blockquote>
    <p class="pullquote__text">{{ quote }}</p>
  </blockquote>
  <figcaption class="pullquote__cite">{{ attribution }}</figcaption>
</figure>
